<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ADMINISTRA HOTELES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btn-registro-hotel" routerLink="pages/registrohotel"
    >Registrar Hotel</ion-button
  >
  <ion-list lines="full" *ngFor="let hotel of hoteles ;">
    <ion-item>
      <ion-label>
        <strong class="ion-text-uppercase">{{hotel.nombre}}</strong>
        <p>{{hotel.nit}}</p>
      </ion-label>

      <ion-button
        color="danger"
        class="btn-eliminar"
        slot="end"
        (click)="eleminarHotel(hotel.id)"
      >
        <ion-icon name="trash-bin-outline"></ion-icon
      ></ion-button>
      <ion-button slot="end" routerLink="pages/editar-hotel/{{hotel.id}}"
        ><ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
