<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->

    <ion-card-content>
      <div class="imagen">
        <img src="../../../assets/Logo-removebg-preview.png" alt="Logo" />
      </div>

      <form
        [formGroup]="rcliente"
        (ngSubmit)="onCreate()"
        (ngSubmit)="loForm()"
      >
        <ion-list>
          <ion-item fill="outline">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="text"
              placeholder="Nombre completo"
              fromControlName="nombre"
              [(ngModel)]="cliente.nombre"
              required="true"
            ></ion-input>
          </ion-item>

          <ion-item
            fill="outline"
            *ngIf="rcliente.get('nombre').errors && todo.get('nombre').dirty"
          >
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('nombre').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('nombre').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('nombre').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Correo Eletronico</ion-label>
            <ion-input
              type="email"
              placeholder="Correo"
              fromControlName="correo"
              [(ngModel)]="cliente.correo"
              required="true"
            ></ion-input>
          </ion-item>
          <ion-item
            fill="outline"
            *ngIf="rcliente.get('correo').errors && todo.get('correo').dirty"
          >
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('correo').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('correo').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('correo').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Numero Telefonico</ion-label>
            <ion-input
              type="number"
              placeholder="Telefono"
              fromControlName="telefono"
              [(ngModel)]="cliente.telefono"
              required="true"
            ></ion-input>
          </ion-item>
          <ion-item
            fill="outline"
            *ngIf="rcliente.get('telefono').errors && todo.get('telefono').dirty"
          >
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('telefono').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('telefono').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('telefono').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Cedula</ion-label>
            <ion-input
              type="number"
              placeholder="Cedula"
              fromControlName="cedula"
              [(ngModel)]="cliente.cedula"
              required="true"
            ></ion-input>
          </ion-item>
          <ion-item
            fill="outline"
            *ngIf="rcliente.get('cedula').errors && todo.get('cedula').dirty"
          >
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input
              type="text"
              placeholder="Nombre de usuario"
              fromControlName="usuario"
              [(ngModel)]="usuario.usuario"
              required="true"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              placeholder="Contraseña"
              fromControlName="contrasena"
              [(ngModel)]="usuario.contrasena"
              required="true"
            ></ion-input>
          </ion-item>
        </ion-list>

        <div class="Boton">
          <ion-button fill="outline" type="submit">Registrase</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
