<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->

    <ion-card-content>
      <div class="imagen">
        <img src="../../../assets/Logo-removebg-preview.png" alt="Logo" />
      </div>

      <form [formGroup]="registrocliente" (ngSubmit)="onCreate()">
        <ion-list>
          <ion-item fill="outline">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="text"
              placeholder="Nombre completo"
              formControlName="nombre"
              required="true"
            ></ion-input>
          </ion-item>

          <!-- <ion-item
            [ngIf]="formulario.get('nombre').errors && formulario.get('nombre').dirty"
          >
            <p
              color="danger"
              ion-text
              [ngIf]="formulario.get('nombre').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              [ngIf]="formulario.get('nombre').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              [ngIf]="formulario.get('nombre').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item> -->

          <div
            class="alert-danger"
            [ngIf]="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div class="container-error-message">este campoco es requerido</div>
            minimo dbufbfbfufuiuhuhhyhyh
          </div>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Correo Eletronico</ion-label>
            <ion-input
              type="email"
              placeholder="Correo"
              formControlName="correo"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Numero Telefonico</ion-label>
            <ion-input
              type="number"
              placeholder="Telefono"
              formControlName="telefono"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Cedula</ion-label>
            <ion-input
              type="number"
              placeholder="Cedula"
              formControlName="cedula"
            ></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <div class="Boton">
        <ion-button fill="outline" type="submit">Registrase</ion-button>
      </div>

      <!--       
      <form [formGroup]="rcliente" (ngSubmit)="onCreate()">
        <ion-list>
          <ion-item fill="outline">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="text"
              placeholder="Nombre completo"
              name="nombre"
              required="true"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Correo Eletronico</ion-label>
            <ion-input
              type="email"
              placeholder="Correo"
              name="correo"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Numero Telefonico</ion-label>
            <ion-input
              type="number"
              placeholder="Telefono"
              name="telefono"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Cedula</ion-label>
            <ion-input
              type="number"
              placeholder="Cedula"
              name="cedula"
            ></ion-input>
          </ion-item>

          <ion-item
            fill="outline"
            *ngIf="rcliente.get('cedula').errors && todo.get('cedula').dirty"
          >
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('required')"
            >
              se requiere este campo
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('minlength')"
            >
              cantidad minima de caracteres es (4)
            </p>
            <p
              color="danger"
              ion-text
              *ngIf="rcliente.get('cedula').hasError('maxlength')"
            >
              cantidad maxima de caracteres es (10)
            </p>
          </ion-item> 

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input
              type="text"
              placeholder="Nombre de usuario"
              fromControlName="usuario"
            ></ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin-top">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              placeholder="Contraseña"
              fromControlName="contrasena"
            ></ion-input>
          </ion-item>
        </ion-list>

        <div class="Boton">
          <ion-button fill="outline" type="submit">Registrase</ion-button>
        </div>
      </form>  -->
    </ion-card-content>
  </ion-card>
</ion-content>
