<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo">
      <img src="../../../assets/Logo-removebg-preview.png" alt="Logo" />
    </div>

    <ion-card>
      <img alt="Logo" src="../../../assets/admin-settings-male.png" />
      <ion-card-header>
        <ion-card-title>Registro Como Admistrador</ion-card-title>
        <ion-card-subtitle>Te permite </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Si te registras como adminitrador podras registrar tu hotel, dar una
        descricion del hotel, te permitirara dar carateristicas como:
        habitaciones, precios, ofertas etc...
      </ion-card-content>
      <ion-button
        class="Boton1"
        fill="outline"
        routerLink="registroadministrador"
        >registar</ion-button
      >
    </ion-card>

    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="../../../assets/personas-dibujos-animados-icono-burbuja-discurso-estilo-comic-pictograma-ilustracion-persona-usuarios-persona-signo-splash-concepto-negocio_15.webp"
      />
      <ion-card-header>
        <ion-card-title>Resgistro Como Cliente</ion-card-title>
        <ion-card-subtitle>Te permite</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Si te registar como cliente podras ver los diferentes Hoteles de el
        distrito especia de Buenaventura, podras clasificar los hoteles segun
        tus gustos, podras hacer comentarios sobre las esperias que tu viste en
        el hotel entre muchas cosas más.
      </ion-card-content>
      <ion-button class="Boton2" fill="outline" routerLink="registrocliente"
        >registar</ion-button
      >
    </ion-card>
  </div>
</ion-content>
