<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO ADMIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="imagen">
        <img src="../../../assets/Logo-removebg-preview.png" alt="Logo" />
      </div>

      <form>
        <ion-list>
          <ion-item fill="outline">
            <ion-label position="floating">Nombre De La Empresa </ion-label>
            <ion-input type="text" placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="floating">Correo Eletronico</ion-label>
            <ion-input type="email" placeholder="Enter email"></ion-input>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="floating">Numero Telefonico</ion-label>
            <ion-input type="number" placeholder="Enter number"></ion-input>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="floating">Nombre De Usuario</ion-label>
            <ion-input type="text" placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Enter password"></ion-input>
          </ion-item>
        </ion-list>

        <div class="Boton">
          <ion-button fill="outline" routerLink="/">Registrase</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
