<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title> {{hotel.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="{{hotel.foto}}" />
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase"
        >{{hotel.nombre}}</ion-card-title
      >
      <ion-card-subtitle>Telefono: {{hotel.telefono}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{hotel.descripcion}}
      <app-estrellas [calificacion]="hotel.calificacion"></app-estrellas>
    </ion-card-content>
  </ion-card>

  <h4>Habitaciones</h4>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://images.hola.com/imagenes/decoracion/20220421208402/decoracion-dormitorios-inspirada-habitaciones-hoteles-lm/1-77-410/habitaciones-hoteles-1a-a.jpg"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAht9BXMVmVIKN1YwRCqTX5ncUf0aYoXLFVgc_S9YB-SJQVQcH_CuaUv-JWcKvRxKaqkw&usqp=CAU"
      /></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrJyz4vMlXE8B9iD2QDwWBkCkqNXK7no-SMQ&usqp=CAU"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://www.homecenter.com.co/static/landing/guiasdecompra/Guias_de_compra_2/img/colores-para-habitaciones-pequenas/colores-para-habitaciones-pequenas-5.jpg"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrJyz4vMlXE8B9iD2QDwWBkCkqNXK7no-SMQ&usqp=CAU"
      /></ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Calificar Hotel</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <p>Calificacion</p>

          <ion-range
            [min]="1"
            [max]="5"
            [pin]="true"
            [ticks]="true"
            [snaps]="true"
          ></ion-range>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
