<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre del Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.

      <app-estrellas></app-estrellas>
    </ion-card-content>
  </ion-card>

  <h4>Habitaciones</h4>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
      /></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
      /></ion-col>
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
      /></ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Calificar Hotel</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <p>Calificacion</p>

          <ion-range
            [min]="1"
            [max]="5"
            [pin]="true"
            [ticks]="true"
            [snaps]="true"
          ></ion-range>
        </ion-item>
        <ion-item>
          <ion-label>Comentar</ion-label>
          <ion-textarea placeholder="Type something here"></ion-textarea>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Comentarios</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">comentarios..........</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
